body{
    background: url(https://devforum.info/DEMO/LoginForm1/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}

.ui.main{
    border-radius: 5px;
    position: relative;
    width: 400px;
    background: white;
    padding: 60px 40px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.1);
}
.board{
    margin-left:20px;
    margin-right:100px;
}
.lb{
    text-align: left;
}
.container{
    margin-top: 20px;
    width: 100%;
    display: flex;
}